<!doctype html>
<html>

<head>
    <title>Success</title>
    <meta charset="UTF-8">
    <style type="text/css">
    </style>
    <script>
        // @ts-check

        const init = () => {
        }
    </script>
</head>

<body onload="init()">
    <h1>You've completed all the puzzles! Hurrah!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum luctus blandit. Nulla in arcu
        malesuada, tempus diam et, consequat nulla. Praesent iaculis, diam at ornare hendrerit, nulla leo euismod erat,
        ut bibendum mi lorem ac tellus. Pellentesque vitae purus ipsum. Fusce mollis tincidunt risus nec hendrerit. Sed
        tempus mi quam, non vestibulum ligula fermentum ut. Aenean eu urna sed mauris laoreet hendrerit. Etiam iaculis
        euismod quam, ac mollis justo congue ac. Nunc in tortor suscipit, aliquet nibh non, consequat mi. Proin at est
        pharetra, venenatis est ac, consequat urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        suscipit volutpat urna ac egestas.</p>
</body>

</html>