<!doctype html>
<html>

<head>
    <title>Level {{level}}</title>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }

        #top {
            display: flex;
        }

        #chart {
            flex: 1;
            margin: auto;
        }

        #chart img {
            width: 100%;
        }

        #example {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #instructions {
            flex: 1;
            padding: 0.5em;
        }

        #warn {
            font-weight: bolder;
            text-align: center;
            color: darkred;
        }

        table {
            padding: 1em;
        }
    </style>
    <script>
        // @ts-check

        const init = () => {
        }

        function copyText(/** @type {string} */ id) {
            /** @type {HTMLInputElement} */
            const el = document.getElementById(id);

            if (el) {
                navigator.clipboard.writeText(el.value);
            }
        }
    </script>
</head>

<body onload="init()">
    <div id="top">
        <div id="chart">
            <img src="level0.svg" />
        </div>
        <div id="instructions">
            <p>The diagram describes a simple programming language. This programming language allows programs to control
                the state of a pen on a drawing canvas, such that executing the program will result in a picture.
                Implement the language, execute the program, and enter a description on the drawing into the input box
                to advance to the next level.</p>
            <p>To get you started, we have provided some templates to use:
            <ul>
                <li><a href="https://gist.github.com/danielscottjames/77b72549b7f93f733bf498c7dcd52870"
                        target="_blank">JavaScript / HTML / Canvas2D</a></li>
                <li><a href="#">Python</a></li>
            </ul>
            </p>
            <p>
                The sample input <input type="text" id="sample" name="sample" value="{{sample}}" disabled><button
                    onclick="copyText('sample')">Copy</button> will result in the following drawing:
            </p>
            <img id="example" src="example{{level}}.gif" />
        </div>
    </div>
    <table>
        <tr>
            <td>Program Input:</td>
            <td>
                <input type="text" id="level" name="level0" value="{{program}}" disabled>
                <button onclick="copyText('level')">Copy</button>
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Answer:</td>
            <td>
                <form method="post">
                    <input type="text" id="code" name="code" width="30">
                    <input type="submit">
                </form>
            </td>
        </tr>
        {{#if warn}}
        <tr>
            <th colspan="2"><span id="warn">Incorrect Answer</span></th>
        </tr>
        {{/if}}
    </table>
</body>

</html>